@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Familjen Grotesk", sans-serif;
  background: #000;
  color: #fff;
}

/* Nav list  */

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Header and navbar */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}

/* logo */

.logo {
  width: 210px;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

/* Desktop Navigation Menu */

.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu Item Bottom Border */

.desktop-main-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* sections */

section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  /* background-color: red; */
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
}

.section-inner h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Section A - background Image */

.section-a {
  background-image: url("/img/section-a.webp");
}

/* Rewatch button */
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid white;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 400;
}

.btn::before {
  position: absolute;
  content: "hey";
  left: 0;
  bottom: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
}
.btn span {
  position: relative;
}

.btn:hover span {
  color: black;
}
